<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        The goal of 'IG Tech Team' youtube channel is to give you best knowledge
        in very short time. The channel is related to technology, coding,
        projects, tutorials and many more. The term 'Team' in my channel name
        refers to you and me. We together learn and share something new daily.
        Your feedback is highly appreciated. Connect with me in LinkedIn,
        Instagram, Facebook page. Your like and comment in a video is highly
        valuable for me. <br /><br />

        <span class="youtube">
          Click
          <a target="_blank" href="https://www.youtube.com/c/IGTechTeam"
            >here</a
          >
          to redirect to my Youtube Channel.
        </span>
      </p>
    </div>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
